<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All requests: </h1>
    <ul id="requests">
      <% @requests.each do |request| %>
        <li>
          You have requested booking <%= request.property.name %><br>
          Location: <%= request.property.location %><br>
          About this listing: <%= request.property.description %><br>
          £<%= request.property.price %> a day!<br>
        </li>
      <% end %>
    </ul>
  </body>
</html>
