<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if current_user %>
      <h4>Welcome, <%= current_user.name %></h4>
    <% end %>
    <% if flash[:errors] %>
      <div id='notice'>
        <%= flash[:errors] %>
      </div>
    <% end %>
     <%= yield %>
  </body>
</html>
