<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if current_user %>
     <h4>Welcome, <%= current_user.name %></h4>
     <% end %>
     <%= yield %> 
  </body>
</html>
