<h1> Create a new listing </h1>
<form action="/spaces" method="post" enctype="multipart/form-data">
  <label for="title">Title: </label>
  <input type="text" name="name" placeholder="Eg: Large Home" >
  <label for="location">Location: </label>
  <input type="text" name="location" placeholder="Eg: Chelsea, London" >
  <label for="price">Price per day (£): </label>
  <input type="text" name="price" placeholder="Eg: 100" >
  <input type="date" name="start_date" placeholder="Eg: 2016-11-01" required>
  <input type="date" name="end_date" placeholder="Eg: 2016-11-03" required><br><br>
  <textarea name="description" style="height:100px;width:600px;">Enter property description here...</textarea><br><br>
  <input type="file" name="file">
  <input type="submit" value="Add Property">
</form>
