<div class="container" style="width: 500px;">
  <span>Start:</span>
  <div class='input-group date' id='start'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <span>End:</start>
  <div class='input-group date' id='stop'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
