<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap 3 CSS file -->
    <link href="/datetimepicker/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Datetimepicker CSS file -->
    <link href="/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <style>
      body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }
      header {
        background: rgb(183, 38, 15);
        color: #fff;
        font-size: 22px;
        padding-left: 40px;
        padding-top: 20px;
      }
      .container {
        padding: 40px;
      }
    </style>
  </head>
  <body>
    <header>
      <% if current_user %>
        <h4>Welcome, <%= current_user.name %></h4>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log out">
        </form>
      <% end %>
      <% if flash[:errors] %>
        <div id='errors'>
          <%= flash[:errors] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div id='notice'>
          <%= flash[:notice] %>
        </div>
      <% end %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap 3 -->
    <script src="/datetimepicker/dist/js/bootstrap.min.js"></script>

    <!-- Moment.js -->
    <script src="/datetimepicker/moment.js"></script>

    <!-- Bootstrap Datetimepicker -->
    <script src="/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- initialize the pickers -->
    <script type="text/javascript">
      $(function () {
        $('#start').datetimepicker();
        $('#stop').datetimepicker();
      });
    </script>

  </body>
</html>
