<!DOCTYPE html>
<html class="js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap 3 CSS file -->
    <link href="/datetimepicker/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Datetimepicker CSS file -->
    <link href="/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/stylesheet.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <% if current_user %>

    <nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
    	<div class="[ container-fluid ]">

			<div class="[ navbar-header ]">
				<button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="[ sr-only ]">Toggle navigation</span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
				</button>
				<div class="[ animbrand ]">
					<a class="[ navbar-brand ][ animate ]" href="/"><img src="/images/logo.gif" id="logo"><img src="/images/logo-name.png" id="logo-name"></a>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
				<ul class="[ nav navbar-nav navbar-right ]">
          <li><a class="animate" href="/profile">&nbsp&nbsp<%=current_user.name%><span class="[ pull-left glyphicon glyphicon-user ]"></span></a></li>
					<li>
						<a href="#" class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">&nbsp&nbspSpaces <span class="[ pull-left glyphicon glyphicon-home ]"></span></a>
						<ul class="[ dropdown-menu ]" role="menu">
							<li><a href="/spaces/mylistings" class="[ animate ]">My Spaces <span class="[ pull-right glyphicon glyphicon-list ]"></span></a></li>
							<li><a href="/spaces" class="[ animate ]">Find Spaces <span class="[ pull-right glyphicon glyphicon-search ]"></span></a></li>
							<li><a href="/spaces/new" class="[ animate ]">Add New Space <span class="[ pull-right glyphicon glyphicon-pencil ]"></span></a></li>
						</ul>
					</li>

          <li><a class="animate" href="/requests">&nbsp&nbspRequests<span class="[ pull-left glyphicon glyphicon-inbox ]"></span></a></li>
          <li><form action="/sessions" method="post" class="navbar-form navbar-right" role="logout">
            <div class="form-group">
              <input type="hidden" name="_method" value="delete">
            </div>
            <button type="submit" class="btn btn-home">Log out<span class="[ pull-left glyphicon glyphicon-log-out ]"></button>
          </form></li>


				</ul>
			</div>
		</div>

	</nav>

    <% end %>

        <% if flash[:errors] %>
          <div id='errors'>
            <div class="alert alert-warning" role="alert">
            <%= flash[:errors] %>
            </div>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div id='notice'>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          </div>
        <% end %>



      </header>
      </div>
    </div>
    <%= yield %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap 3 -->
    <script src="/datetimepicker/dist/js/bootstrap.min.js"></script>

    <!-- Moment.js -->
    <script src="/datetimepicker/moment.js"></script>

    <!-- Bootstrap Datetimepicker -->
    <script src="/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- initialize the pickers -->
    <script type="text/javascript">
      $(function () {
        $('#start').datetimepicker();
        $('#stop').datetimepicker();
      });
    </script>

  </body>
</html>
