<<div class="container">
  <div class="page-header">
    <h1><small>My Profile</small></h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
        <img class="thumbnail" src="<%= current_user.image%>" class="img-rounded" width="171" height="180">
      <h3><small>Name: <%=current_user.name%></small></h3>
      <h3><small>Email: <%=current_user.email%></small></h3>
    </div>
  </div>
</div>
